$dark: #292b2c;
$light: #eee;
$primary: #0275d8;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $dark;
    font-family: "Lucida Sans Unicode", "Trebuchet MS", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    overflow: hidden;
}

#wrapper {
    margin: auto 3rem;
    text-align: center;
    height: 100vh;
}

a {
    color: initial;
    text-decoration: none;
    outline: 0;
    border: 0;
}

select,
input {
    outline: 0;
    border: 0;
}

button:disabled {
    background: lighten($dark, 20%) !important;
    cursor: default !important;
    opacity: 0.5 !important;
}

button.choice:disabled {
    background: transparent !important;
    cursor: initial !important;
}

button.correct:disabled,
button.wrong:disabled {
    opacity: 1 !important;
    border-width: 2px !important;
}
