@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }

    #header {
        grid-template-columns: 1fr 1fr 1fr;

        #author {
            display: flex;
            gap: 0.4rem;
        }
    }
}

@media (max-width: 700px) {
    html {
        font-size: 14px;
    }

    #wrapper {
        margin: auto 2rem;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 14px;
    }

    #wrapper {
        margin: auto 1rem;
    }

    #header {
        display: block;

        #author,
        #ref-link {
            display: none;
        }
    }

    #body {
        #quiz {
            #quiz-body {
                gap: 1rem;

                #quiz-choices {
                    gap: 1rem;

                    button {
                        font-size: 1.6rem;
                        padding: 0.4rem 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    html {
        font-size: 14px;
    }

    #body {
        #quiz {
            font-size: 1rem;
        }
    }
}

@media (max-width: 300px) {
    html {
        font-size: 14px;
    }

    #body {
        #quiz {
            font-size: 0.7rem;

            #quiz-choices {
                display: flex !important;
                flex-direction: column;
            }
        }
    }
}

@media (max-height: 600px) {
    html {
        font-size: 12px;
    }
}

@media (max-height: 400px) {
    #quiz-choices {
        display: flex !important;
    }
}

@media (max-width: 600px) and (max-height: 700px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    html {
        font-size: 14px;
    }

    #home {
        & > div {
            padding: 0.4rem 0.8rem !important;
        }
    }

    #quiz {
        #quiz-body {
            gap: 1rem;

            #quiz-choices {
                gap: 1rem;

                button {
                    font-size: 1rem;
                    padding: 0.4rem 0.8rem;
                }
            }
        }
    }
}
