.show {
    display: initial !important;
}

.correct {
    border: green 1px solid !important;
    color: green !important;
    background: rgba($color: green, $alpha: 0.1) !important;
    cursor: default !important;
}

.wrong {
    border: red 1px solid !important;
    color: red !important;
    background: rgba($color: red, $alpha: 0.1) !important;
    cursor: default !important;
}
